:root {
    --color-primary: #ff014f;
    --color-secondary: #00c0ff;
    --backgroudHt: linear-gradient(90deg, #00c0ff 30%, #ff014f 60%);
    --bg-gradient: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-primary) 70%);

}

* {
    margin: 0;
    padding: 0;

}

body {

    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-top: 40px;

}

.col img {
    /* max-width: 350px; */
    max-width: 314px;
    background-color: red;
    display: block;
    margin: auto;
}

.container {
    /* background-color: rgb(243, 247, 247); */
}

.hire {
    position: absolute;
    width: 70px;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 16px;
    color: black;
    right: 0;

}

.navbar-nav {
    /* background-color: aquamarine; */
    margin-left: 5%;
    /* width: 79.3vw; */
}

.navRelative {
    position: relative;
}

.table {
    margin-top: 30px;
    background-color: red;

}

/* The screen managements */
@media (max-width: 991px) {
    .hire {
        right: 50%;

    }
}


.round-button {
    width: 110px;
    height: 110px;
    background-color: #FFDB5C;
    color: white;
    border: none;
    box-shadow: 8px -1px 8px 1px #181713;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    line-height: 100px;
    cursor: pointer;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
    padding: 1px;
    font-weight: 900;
    /* margin-bottom: 20px; */
    
}



th span {
    color: #5C88C4;
}

.services {
    background-color: rgba(252 250 250 / 40%);
    margin-bottom: 100px;
}

div.sep {
    background-color: #ff014f;
    height: 5px;
    width: 20px;
    margin: auto;
}

div.sep::after {
    content: " ";
    background-color: #ff014f;
    height: 5px;
    width: 10px;
    left: 650px;
    position: absolute;
    z-index: 10;
}


.content .items {
    /* background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
    
    border-right: 1px solid #ccc;
    min-width: 300px;
    height: inherit;
    margin: 0 auto 10px;
    padding: 0 37px;
}

.content .items:nth-child(3n) {
    border-right: none;
    margin: 0
}

.content .items img {
    width: 77px;
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
}


.title .exp {
    background: var(--backgroudHt);
    text-align: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* For other browsers */
    background-clip: text;
    color: transparent;
    font-size: 20px;
    font-family: arial;
    font-weight: bolder;
    text-transform: uppercase;
}

.title h4 {
    font-size: 34px;
    text-align: center;
}

.title {
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.myWork {
    /* overflow-x: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.myWork .items {
    /* margin-right: 30px;  */
    background-color: red;
    width: 100%; /* Makes the images fit the width of each column */
    height: auto; 
    display: block;
}

.myWork .items img {
    width: 100%; /* Image will fit the width of its parent .items */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensures no extra space around the image */
}


/* la partie du cv */

.cv {
    position: relative;
    margin: 5%;
}

.cvheader {
    background-color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 30%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    padding: 8px;
    position: relative;
    margin: 0;
    z-index: 1;
    top: 78px;
}

strong {
    display: inline-block;
    margin-left: 60px;
    position: relative;
    z-index: 1;
    font-size: 25px;
    font-weight: 900px;
}

strong::after {
    left: -45px;
    top: 50%;
    content: "";
    height: 1.5px;
    width: 30px;
    background-color: #000;
    position: absolute;
    z-index: -1;
    transition: all 0.35s ease-in-out 0s;
}


.desc,
.me {
    padding-top: 20px;
}

.cvheader button {
    border: none;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #000;
    /* width: 300px;  */
    transition: all 0.35s ease-in-out 0s;
    
    
    
    
    margin: 0;
    
    font-size: 15px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cvheader button:nth-child(2) {
    margin: 0 10px;
}

.edSubWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
    
}

div.ed,
div.skills,
div.bio {
    background-color: rgb(255 255 255 / 30%);
    box-shadow: 0px 0px 3px 2px #fff;
    display: none;
}

button:hover strong::after {
    background-color: #fff;
}

button:hover {
    color: #fff;
    background-color: #5C88C4;
}

button.active {
    color: #fff;
    background-color: #5C88C4;
}

button.active strong::after {
    background-color: #fff;
}


ul {
    position: relative;
}

.bioTab li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
    z-index: 1;
}

.bioTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    overflow: auto;
    padding: 0;
    margin-bottom: 0;
}

div.bio li::after {
    position: absolute;
    left: 0;
    top: -1px;
    content: "";
    height: 1px;
    width: 100%;
    background: #cfd4d6;
}


.cvcontainer {
    padding: 50px !important;
    /* padding-right: 30px; */
}

.biowrapper {
    margin-bottom: 100px;
    margin-top: 50px;
}


.visible {
    display: block !important;
    /* Show the visible section */
}

/* la partie du skills */

ul li {
    list-style: none;
    
}

.skills {
    position: relative;
}

.bar {
    background-color: #333;
    width: 328px;
    height: 8px;
    margin-top: 16px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: left;
}

div.progressionCon {
    /* background-color: red; */
    
    /* float: right; */
    padding-top: 25px;
}

div.progressionCon ul li {
    display: flex;
}


.bar .front-end,
.oriented,
.back-end {
    display: block;
    background-color: #ff014f;
    height: 8px;
}

div .level {
    position: relative;
    margin-left: 100px;
    margin-right: 1px;
    width: 80px;
}

div .level h1 {
    font-size: 30px;
    font-weight: bolder;
    align: center;
    float: left;
}

div .skills h3 {
    /* background-color: #00c0ff; */
    width: 30vw;
    font-size: 20px;
    font-weight: bold;
}

.bar .front-end {
    width: 90%;
    animation: front-end 0.9s;
}

.bar .oriented {
    width: 95%;
    height: 8px;
    animation: oriented 0.9s;
}

.bar .back-end {
    width: 75%;
    animation: back-end 0.9s;
}

div .icon i {
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    width: 65px;
    height: 65px;
    line-height: 67px;
}

div .icon h4 i {
    margin-right: 10px;
    margin-top: -10px;
}

.additionalSkills {
    padding-left: 32px;
}

.additionalSkills .database {
    width: 48%;
    float: left;
    /* background-color: #5C88C4; */
}

.bar .database {
    width: 90%;
    animation: database 0.9s;
    background-color: #ff014f;
    height: 8px;
}



.additionalSkills .networking {
    width: 48%;
    float: left;
    /* background-color: #ff014f; */
}

.bar .networking {
    width: 80%;
    animation: networking 0.9s;
    background-color: #ff014f;
    height: 8px;
}


@keyframes front-end {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}


@keyframes oriented {
    0% {
        width: 0%;
    }
    
    100% {
        width: 95%;
    }
}

@keyframes back-end {
    0% {
        width: 0%;
    }
    
    100% {
        width: 75%;
    }
}

@keyframes database {
    0% {
        width: 0%;
    }
    
    100% {
        width: 90%;
    }
}

@keyframes networking {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


/* La partie footer */
footer {
    background-color: rgb(255 255 255 / 30%);
    box-shadow: 0px 0px 3px 5px #fff;
}

.persinfo,
.form {
    float: left;
}

.persinfo h3 {
    font-size: 16px;
}

.persinfo {
    margin-right: 20px;
}

.form {
    width: 50%;
    margin-top: 30px;
    height: 350px;
    border-radius: 50%;
    transform: translateY(-30px);
    position: relative;
    border: 2px dashed grey;
}


.form textarea,
input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
    width: 70%;
    /* border: 1px solid black; */
    margin: 0 auto !important;
    display: block;
    transform: translateY(70px);
    transition: border-color ease .5s;
    padding: 0.5rem 0.7rem;
    
}


.form input:focus {
    border-color: #00c0ff;
}

.form textarea:focus {
    border-color: #00c0ff;
}

.form div.btnM {
    width: 100px !important;
    margin: 15px auto !important;
    transform: translateY(60px);
}

.form button {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    text-transform: uppercase;
    border: 1px dotted yellow;
}


.persinfo ul li {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid grey !important;
    border-width: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

footer .mediaSocial {
    /* background-color: red; */
    position: relative;
    left: 40px;
    top: -20px;
}


footer .mediaSocial i {
    margin-right: 50px;
    font-size: 18px;
    background-color: rgb(248, 246, 246);
    padding: 17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px dashed rgb(146, 142, 142);
}

footer .container .titleC {
    color: rgb(157, 134, 201);
    font-size: 16px;
    padding-top: 5px;
}

footer h4 {
    font-weight: bolder;
    letter-spacing: 5px;
}


/* ---------------------- The responsive part for phone ------------------------- */
/* Styles for phones */
@media only screen and (max-width: 600px) {
    .myWork {
        /* overflow-x: auto; */
         display: grid;
         grid-template-columns: 1fr ;}

         div.sep::after {
            left: 220px;
           
        }

        .cvheader {
            background-color: #e2dddd;
            border: none;
            border-radius: 50px;
            box-shadow: 0 0 1rem 0 rgb(0 0 0 / 30%);
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 15px;
            padding: 15px;
            position: relative;
            margin: 0;
            z-index: 1;
            top: 78px;
        }
        .cvheader button{
            margin-bottom: 15px;
        }

        .cvheader button:nth-child(2) {
            margin-bottom: 15px;
        }

        .cvheader button:nth-child(3) {
            margin-bottom: 0px;
        }
}

/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .myWork {
        /* overflow-x: auto; */
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;}

         div.sep::after {
            left: 260px;
           
        }
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 1025px) {}