:root {
    --color-primary: #ff014f;
    --color-secondary: #00c0ff;
    --backgroudHt: linear-gradient(90deg, #00c0ff 30%, #ff014f 60%);
    --bg-gradient: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-primary) 70%);

}

* {
    margin: 0;
    padding: 0;
   
}

body {

 background-image: url(images/back.jpg);

}

.row {
    margin-top: 40px;

}

.col img {
    /* max-width: 350px; */
    max-width: 314px;
    background-color: red;
    display: block;
    margin: auto;
}

.container {
    /* background-color: rgb(243, 247, 247); */
}

.hire {
    position: absolute;
    width: 70px;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 16px;
    color: black;
    right: 0;

}

.navbar-nav {
    /* background-color: aquamarine; */
    margin-left: 5%;
    /* width: 79.3vw; */
}

.navRelative {
    position: relative;
}

.table {
    margin-top: 30px;
    background-color: red;

}

/* The screen managements */
@media (max-width: 991px) {
    .hire {
        right: 50%;

    }
}

.round-button {
    width: 110px;
    height: 110px;
    background-color: #FFDB5C;
    color: white;
    border: none;
    box-shadow: 8px -1px 8px 1px #181713;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    line-height: 100px;
    /* Align text vertically */
    cursor: pointer;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
    padding: 1px;
    font-weight: 900;
    margin-bottom: 20px;

}

th span {
    color: #5C88C4;
}

.services {
    display: relative;
    width: 100%;
    /* margin:auto */
    /* background-color: #fff; */
    /* opacity: 0.5; */
    background-color: rgba(252, 250, 250, 0.4);

}


.content .items {
    /* background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */

    border-right: 1px solid #ccc;
    min-width: 300px;
    height: inherit;
    margin: 0 auto 10px;
    padding: 0 37px;
}

.content .items:nth-child(3n) {
    border-right: none;
    margin: 0 
}

.content .items img {
    width: 77px;
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
}


.title .exp {
    background: var(--backgroudHt) ;
    text-align: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* For other browsers */
    background-clip: text;
    color: transparent;
    font-size: 20px;
    font-family: arial;
    font-weight: bolder;
    text-transform: uppercase;
}

.title h4{
    font-size: 34px;
    text-align: center;
}

.title{
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.myWork .items{
    background-color: red;
}

.myWork .items img{
    width: 314px;
}

/* la partie du cv */

.cv {
    position: relative;
    margin: 5%;
}
.cvheader{
    background-color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 30%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    padding: 10px;
    position:relative;
    margin: 0;
    /* margin-bottom: 50px; */
    z-index: 1;
    top: 35px;
}

strong{
    display: inline-block;
    margin-left: 60px;
    position: relative;
    z-index: 1;
    font-size: 25px;
    font-weight: 900px;
}
strong::after{
    left: -45px;
    top: 50%;
    content: "";
    height: 3px;
    width: 30px;
    background-color:#000;
    position: absolute;
    z-index: -1;
    transition: all 0.35s ease-in-out 0s;
}


.bar{
    background-color: #fff;
    width: 100px;
    height: 2px;
}
.cvheader button{
 border: none;
 background-color: #fff;
 padding-left:15px;
 padding-right: 15px;
 border-radius: 50px;
 padding-top: 15px;
 padding-bottom: 15px;
 text-transform: uppercase;
 color: #000;
 /* width: 300px;  */
 transition: all 0.35s ease-in-out 0s;




 margin: 0;

 font-size: 15px;
 font-weight: 800;
 display: flex;
 align-items: center;
 justify-content: center;
}

.cvheader button:nth-child(2){
  margin: 0 10px;
}

div.bio, div.skills, div.ed{
    box-shadow:1px 5px 5px 5px #fff;
}
div.bio, div.skills, div.ed ::before{
    background-color: rgb(255 255 255 / 30%);
}
 button:hover strong::after{
    background-color: #fff;
}
button:hover{
    color: #fff;
    background-color: #5C88C4;
}
button.active{
    color: #fff;
    background-color: #5C88C4;
}
button.active strong::after{
    background-color: #fff;
}

ul {
    position: relative;
}

.bioTab li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
    z-index: 1;
}

.bioTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    overflow: auto;
    padding:0;
    margin-bottom: 0;
}

div.bio li::after {
    position: absolute;
    left: 0;
    top: -1px;
    content: "";
    height: 1px;
    width: 100%;
    background: #cfd4d6;
}


.cvcontainer{
    padding: 50px !important;
    /* padding-right: 30px; */
}

.biowrapper{
    margin-bottom: 100px;
    margin-top: 50px;
}